[Unit]
Description=Othercoin's distributed currency daemon
After=network.target

[Service]
User=othercoincore
Group=othercoincore

Type=forking
PIDFile=/var/lib/othercoind/othercoind.pid
ExecStart=/usr/bin/othercoind -daemon -pid=/var/lib/othercoind/othercoind.pid \
-conf=/etc/othercoincore/othercoin.conf -datadir=/var/lib/othercoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
